@use "./variables.scss" as *;

@mixin tablet-and-desktop {
  @media screen and (min-width: $tablet-break-point){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-break-point) {
    @content;
  }
}

@mixin flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}